* {
  color: #666;
}

body {
  margin: 32px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

.day {
  transition: background-color 0.15s linear;
}

.day:hover {
  background: #dddddd;
}

table {
  width: 100%;
}
table th {
  background: #EEEEEE;
}
table th,
table td {
  border: 1px solid #CCCCCC;
  text-align: center;
  padding: 5px;
}
